/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.button {
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 20px 34px 20px 35px;
}

/*=============== MAIN ===============*/
.main {
    background-image: url("../images/main_bg.png");
    background-position: center;
    background-size: cover;
}

/*=============== HEADER & NAV ===============*/
.header {
    padding: 35px 0 33px 0;
    border-bottom: 1px solid #a27eda;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .logo {
    margin-right: 282px;
}

.menu {
    display: inline-block;
}

.menu-item {
    margin-right: 51px;
    display: inline-block;
}

.menu-item a {
    font-size: 16px;
    color: rgb(237, 224, 248);
    line-height: 1.2;
    text-decoration: none;
}

/*=============== COURSE ===============*/
.course {
    padding: 150px 0 205px 0;
}

.course-title {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.222;
    max-width: 452px;
}

.course-text {
    margin-top: 88px;
}

.course-text p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-left: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.course-action {
    margin-top: 101px;
}

.button {
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
}

/*=============== COURSE-DETAILS ===============*/
.course-details {
    padding: 140px 0 140px 0;
    background-color: #fff;
}

.course-details-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
}

.course-menu {
    margin-top: 53px;
}

li {
    list-style: none;
    margin-top: 15px;
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
}

li > img {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}

/*=============== PROMO ===============*/
.promo {
    background-image: url("../images/promo_bg.png");
    background-position: center;
    padding: 140px 0 0 0;
    background-size: cover;
}

.promo-container {
    width: 996px;
    background: #fff;
    padding: 61px 44px ;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.promo-container p {
    max-width: 590px;
    margin: 0 auto 37px;
}

.promo-title {
    font-size: 35px;
    color: rgb(139, 103, 214);
    font-weight: bold;
    line-height: 1.571;
    margin-bottom: 40px;
}

.promo-text {
    font-size: 16px;
    color: rgb(49, 27, 94);
    line-height: 1.5;
}

.promo-text span {
    font-weight: bold;
}

.button-promo {
    margin-top: 4px;
    font-size: 16px;
    color: rgb(177, 128, 228);
    font-weight: bold;
    border: 2px solid #b180e4;
}

/*=============== FOOTER ===============*/
.footer {
    margin-top: 141px;
    padding: 47px 0 46px 0;
    text-align: center;
    border-top: 1px solid #a27eda;
}