* {
    margin: 0;
    padding: 0;
}

/* применение стилей для второго элемента внутри div */
div a:nth-child(2) {
    color: red;
}

/* применение стилей для каждого третьего элемента a, находящегося внутри div */
div a:nth-child(3n) {
    color:green;
}

/* применение стилей для первого a, находящегося внутри div */
div a:first-child {
    color:deeppink;
}

/* применение стилей для всех a, находящегося внутри div, кроме тех, которые имеют класс .myclass */
div a:not(.myclass) {
    background-color: orange;
}

/* применение стилей для всех элементов, находящегося внутри div, кроме span */
div *:not(span) {
    padding: 100px;
}