body {
    background-color: grey;
}

/* .container {
    display: flex;
    align-items: center;
} */

/*  button {
    background: green;
    padding: 10px 40px;
    color: white;
    border: 0; */
/*  transition-property: background-color; */
/*  transition-property: all; */
/*  transition-duration: 5000ms; */
/*  transition-timing-function: cubic-bezier(.95,.04,1,0); */
/*  transition-delay: 300ms; */
/*    transition: all 500ms ease;
}

button:hover {
    transform: scale(2);
    background: chocolate;
    padding: 5px 35px;
}

.block {
    background: orange;
    width: 200px;
    height: 200px;
    margin: 10px;
}
*/

.circle {
    background: darkslateblue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 50px;
/*  animation-name: circle-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-direction: reverse;
    animation-iteration-count: infinite; */
    animation: circle-animation 3s linear infinite;
}

.circle:hover {
    animation-play-state: paused;
}

@keyframes circle-animation {
    from {
        transform: scale(0.5);
    }

    50% {
        transform: scale(2);
    }

    to {
        transform: scale(1);
    }
}
